/* GENERALES*/

*{
	box-sizing:border-box;
	padding:0;
	margin:0;
}

html, body{
	min-height: 100vh;  /* 1vh = 1% del alto - Funciona mejor que % en el caso de mínimos */
	width: 100vw;   /* 1vw = 1% del ancho de la pantalla - Funciona mejor que % en el caso de mínimos */
	/*font-size:calc(16px + 1vw);	 /* Fuente responsive: tamaño mínimo 16px;*/
	background-color: #F0F0DF;
	font-family: Arial, Helvetica, sans-serif;
}

li{
	list-style: none;
	float: left;
}

#header, #footer{
	width: 100vw;
	min-height: 10vh;	/* Header y footer ocuparan 10% del alto de la pantalla */
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #2B3A42;
	color: white;
}

#header >h1, #footer h1{
	padding: 0.5%;	
	min-width: 25vw;	/* Tamaño mínimo por si no cabe la letra que no desborde */
	text-align: center;
	font-size: 1.0em;	 
	/* 
		1em es equivalente al tamaño de la fuente actual (por defecto son 16px pero se puede cambiar en el body)
		2em sería el doble
	*/
}
.navegador {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
  align: center;
}

.navegador a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navegador a:hover:not(.active) {
  background-color: #ddd;
}

.navegador a.active {
  color: white;
  background-color: #4CAF50;
}

.wrap{

	min-height:80vh;  
	flex-wrap: wrap;
	
	justify-content: space-around;
	align-content: space-around;
	
	/*	Header y footer ocupan 10vh  
		El wrap como mínimo ocupa 80 para 
		que el footer este siempre pegado al borde inferior */
		
	width: 100vw;
}

.wrap h2{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;	
	min-height: 5vh;
	width: 100%;
	font-size: 1.1em;
}

.container{
	display: flex;
	flex-wrap: wrap;
	
	justify-content: space-around;
	align-content: space-around;

	

	min-height:70vh;

	width: 100%;	


	overflow: hidden;
}

.caja{

	position: relative;
	font-size: 20px;
	width:33.33%;	
	min-height: 225px;
	min-width: 360px;
	height:33.33%;

	
}
#logotipo{
	height: 25px;
	width: 25px;
}
.redes{
	height: 25px;
	width: 25px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #3F5866;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#footer {
	bottom:0;
	position: absolute;
}

.bottom{
	position: absolute;
	bottom: 0;
}
#header{
	font-size:calc(16px + 1vw);
}
#footer{
	font-size:calc(16px + 1vw);
}